@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
html { width: 92vw; }

header {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 100vw;
    height: 150px;
    padding-top: 20px;
    text-align: center;
    margin-bottom: 30px;
    background: rgba(0, 0, 0, 0.58);
    color: white;
}
h1 {
    color: white;
    font-family: 'Syne Mono', monospace;
}
.link-container {
    padding-top: 15px;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Syne Mono', monospace;
}

.link {
    color: white;
    text-decoration: none;
    transition: 500ms linear;
    font-size: 130%;
}
h2{
    color:honeydew;
    font-family: 'Syne Mono', monospace;
    position: fixed;
    margin-top: 180px;
    font-size: 40px;
    position:relative;
    left: 8%;
}
.tekstpilt {
    display: flex;
    align-items:flex-start
}

.tootepilt {
    float: left;
    margin: 10px;
    width: 90%;
    max-width: 400px;
    position:relative;
    left: 7%;
    border: 2px solid whitesmoke;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover{
    opacity: 0.8;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 4; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 500px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    padding: 10px 0;
    height: 150px;
    color: white;
    font-family: 'Syne Mono', monospace;
  }

.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  .kirjeldus {
    font-size: 25px;
    padding-top: -1000px;
    padding-left: 200px;
    
    color: white;
    font-family: "Syne Mono", monospace;
    line-height: 2;
}
.tähelepanu{
    font-size: 25px;
    padding-top: -1000px;
    padding-left: 120px;
    color: white;
    font-family: "Syne Mono", monospace;
    line-height: 2;
}
.hind {
    white-space: nowrap;
    position: relative;
    top: 0px;
    padding-left: 250px;
    font-size: 80px;
    color:whitesmoke;
    font-family: "Poppins",sans-serif; 
    
}
body {
    display: flex;
    justify-content: center;
    font-family: 'Syne Mono', monospace;
    
    background: linear-gradient(
        to right,
        rgb(125, 125, 125),
        black,
        rgb(125, 125, 125)
    );
    background-size: 200%;
    
}